html,
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    justify-content: center;
    background: #050505;
    color: #fafafa;
    height: 100vh;
}

.InitialMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game {
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 200vh;
    height: 90vh;
    margin: 40px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}

.WelcomingText {
    width: 100vh; /* Missing semicolon */
    height: 15vh;
    background-color: #886d71;
    position: absolute;
    top: 0;
    display: flex;
    align-self: center;
    margin-top: 5vh;
    margin-right: 5px;
    text-align: center;
    margin: 25px;
}

.StartGameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #1b1c22;
}

#start-game {
    background-color: #2534da;
    list-style: none;
    text-decoration: none;
    border: none;
    border-radius: 1vh;
    padding: 20px;
    width: 20vh;
    transition: background-color 0.3s;
    cursor: pointer;
}

#start-game:hover {
    background-color: hsl(235, 71%, 50%);
    opacity: 30%;
}

.TheActualGameMenu {
    display: flex;
    flex-grow: 1;
    padding: 15vh;
}

.PlayerMenu {
    display: block;
    margin-right: 5vh;
    height: 50vh;
}

.PlayerChoices {
    display: flex;
    justify-content: flex-start;
    margin-top: 2vh;
}

.PlayerChoices img {
    margin-right: 1vh;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.BotChoices {
    display: flex;
    justify-content: flex-end;
}

.BotChoices img {
    margin-right: 1vh;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.BotMenu {
    text-align: end;
    width: 50%;
    height: 70vh;
    margin-left: 5vh;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.Attributes {
    width: 100%;
    max-width: 45vh;
    margin: 0 auto;
}
.BotAttributes{
    margin-left: 150px;
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px -5px;
    justify-content: space-between;
}

li {
    flex-basis: 50%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-sizing: border-box;
}

.PlayerImage img,
.BotImage img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.notification-container{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}
.RoundCounter{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}
.PlayerPick{
    display: flex;
    justify-content: left;
    width: 150px;
    height: 150px;
}
.BotPick{
    width: 150px;
    height: 150px;
}
.BothPicks{
    display: flex;
    height: 150px;
    width: 500px;
}
.PlayerPick{
    margin-right: 50px;
}
.BotPick{
    margin-left: 50px;
}
#PlayerPickImage{
    width: 150px;
    height: 150px;
}
#BotPickImage{
    width: 150px;
    height: 150px;
}